<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Hackerthon ToDo Checklist</title>
    <link rel="stylesheet" href="./../assets/css/style.css">
</head>

<body>
    <div class="main-container">
        <h1>Hackerthon ToDo Checklist</h1>
        <p style="color: rgb(248, 59, 59);">Click each subsection to reveal the checklist</p>

        <section class="level-1-section">
            <h2>Level 01: Design a static Front-End web application using HTML and CSS based on the principles of user
                experience design, accessibility, and responsivity</h2>
            <ul class="category">
                <li class="button" onclick="toggleSubcategories('subcategories1.1')">1.1: Design a website that
                    incorporates
                    a
                    main navigation menu and a structured layout</li>
                <ul class="subcategories" id="subcategories1.1">
                    <li>
                        <input type="checkbox" class="completed" id="subcat1.1.1" />
                        <label for="subcat1.1.1">Did you ensure that the user knows which page they are at?</label>
                    </li>
                    <li>
                        <input type="checkbox" class="completed" id="subcat1.1.2" />
                        <label for="subcat1.1.2">Have your branding in place?</label>
                    </li>
                    <li>
                        <input type="checkbox" class="completed" id="subcat1.1.3" />
                        <label for="subcat1.1.3">Make sure all links are working as they should?</label>
                    </li>
                    <li>
                        <input type="checkbox" class="completed" id="subcat1.1.4" />
                        <label for="subcat1.1.4">Ensure style consistency across the site?</label>
                    </li>
                </ul>
            </ul>
            <ul class="category">
                <li class="button" onclick="toggleSubcategories('subcategories1.2')">1.2: Design a website that meets
                    accessibility guidelines (e.g.
                    contrast between background and foreground colours, non-text
                    elements have planned alternative text equivalents to cater for
                    the visually impaired).</li>
                <ul class="subcategories" id="subcategories1.2">
                    <li>
                        <input type="checkbox" class="completed" id="subcat1.2.1" />
                        <label for="subcat1.2.1">Did you give appropriate alternative (alt) text for all images?</label>
                    </li>
                    <li>
                        <input type="checkbox" class="completed" id="subcat1.2.2" />
                        <label for="subcat1.2.2">Did you test your contrast ratio?</label>
                    </li>
                    <li>
                        <input type="checkbox" class="completed" id="subcat1.2.3" />
                        <label for="subcat1.2.3">Is your font style legible?</label>
                    </li>
                    <li>
                        <input type="checkbox" class="completed" id="subcat1.2.4" />
                        <label for="subcat1.2.4">Did you consider an appropriate color scheme for the purpose of your
                            site?</label>
                    </li>
                </ul>
            </ul>
            <ul class="category">
                <li class="button" onclick="toggleSubcategories('subcategories1.3')">1.3: Design the organisation of
                    information
                    on the page following the
                    principles of user experience design (headers are used to convey
                    structure, information is easy to find due to being presented and
                    categorised in terms of priority).</li>
                <ul class="subcategories" id="subcategories1.3">
                    <li>
                        <input type="checkbox" class="completed" id="subcat1.3.1" />
                        <label for="subcat1.3.1">Does the user know the purpose of the site at first glance?</label>
                    </li>
                    <li>
                        <input type="checkbox" class="completed" id="subcat1.3.2" />
                        <label for="subcat1.3.2">Have you broken down the content into readable parts?</label>
                    </li>
                    <li>
                        <input type="checkbox" class="completed" id="subcat1.3.3" />
                        <label for="subcat1.3.3">Are any interactions expected from the user clearly understood and
                            followed?</label>
                    </li>
                    <li>
                        <input type="checkbox" class="completed" id="subcat1.3.4" />
                        <label for="subcat1.3.4">Is navigating intuitive?</label>
                    </li>
                </ul>
            </ul>
            <ul class="category">
                <li class="button" onclick="toggleSubcategories('subcategories1.4')">1.4: Ensure that foreground
                    information
                    is
                    never distracted by
                    backgrounds</li>
                <ul class="subcategories" id="subcategories1.4">
                    <li>
                        <input type="checkbox" class="completed" id="subcat1.4.1" />
                        <label for="subcat1.4.1">Is the text legible, with the background color or image not distracting
                            from
                            the content?</label>
                    </li>
                    <li>
                        <input type="checkbox" class="completed" id="subcat1.4.2" />
                        <label for="subcat1.4.2">Does the color scheme avoid distractions or impacts on
                            legibility?</label>
                    </li>
                    <li>
                        <input type="checkbox" class="completed" id="subcat1.4.3" />
                        <label for="subcat1.4.3">Are CSS animations used subtly and appropriately to meet the
                            need?</label>
                    </li>
                </ul>
            </ul>
            <ul class="category">
                <li class="button" onclick="toggleSubcategories('subcategories1.5')">1.5: Include graphics that are
                    consistent
                    in
                    style and colour.</li>
                <ul class="subcategories" id="subcategories1.5">
                    <li>
                        <input type="checkbox" class="completed" id="subcat1.5.1" />
                        <label for="subcat1.5.1">Are images and graphics consistent in size?</label>
                    </li>
                    <li>
                        <input type="checkbox" class="completed" id="subcat1.5.2" />
                        <label for="subcat1.5.2">Is the color scheme followed regarding graphics?</label>
                    </li>
                    <li>
                        <input type="checkbox" class="completed" id="subcat1.5.3" />
                        <label for="subcat1.5.3">Is there overall consistency across the site?</label>
                    </li>

                </ul>
            </ul>
            <ul class="category">
                <li class="button" onclick="toggleSubcategories('subcategories1.6')">1.6: Design the site to allow the
                    user
                    to
                    initiate and control actions
                    such as the playing of audio/video.</li>
                <ul class="subcategories" id="subcategories1.6">
                    <li>
                        <input type="checkbox" class="completed" id="subcat1.6.1" />
                        <label for="subcat1.6.1">Does the video refrain from autoplay, allowing users to choose whether
                            or
                            not
                            it plays?</label>
                    </li>
                    <li>
                        <input type="checkbox" class="completed" id="subcat1.6.2" />
                        <label for="subcat1.6.2">Is the iframe responsive across screens?</label>
                    </li>
                    <li>
                        <input type="checkbox" class="completed" id="subcat1.6.3" />
                        <label for="subcat1.6.3">If audio is used, can users control whether or not it plays?</label>
                    </li>
                </ul>
            </ul>
        </section>

        <section class="level-2-section">
            <h2>Level 02: Test a Front-End web application through the development,
                implementation and deployment stages</h2>
            <ul class="category">
                <li class="button" onclick="toggleSubcategories('subcategories2.1')">2.1: Create a website of at least
                    three
                    pages, or (if using a single
                    scrolling page) at least three separate page areas to match the
                    design and to meet its stated purpose.</li>
                <ul class="subcategories" id="subcategories2.1">
                    <li>
                        <input type="checkbox" class="completed" id="subcat2.1.1" />
                        <label for="subcat2.1.1">Have you coded them so they are not identical across three, differing
                            from
                            one
                            another?</label>
                    </li>
                    <li>
                        <input type="checkbox" class="completed" id="subcat2.1.2" />
                        <label for="subcat2.1.2">Do your pages have a clear purpose, beyond the structured design of the
                            usual
                            (Navbar, Footer, etc)?</label>
                    </li>
                </ul>
            </ul>
            <ul class="category">
                <li class="button" onclick="toggleSubcategories('subcategories2.2')">2.2: Write custom HTML code that
                    passes
                    through the official W3C
                    validator with no issues.</li>
                <ul class="subcategories" id="subcategories2.2">
                    <li>
                        <input type="checkbox" class="completed" id="subcat2.2.1" />
                        <label for="subcat2.2.1"><a href="https://jigsaw.w3.org/css-validator" target="_blank">W3 HTML
                                Validator</a></label>
                    </li>
                    <li>
                        <input type="checkbox" class="completed" id="subcat2.2.2" />
                        <label for="subcat2.2.2">Have you cleared all errors?</label>
                    </li>
                    <li>
                        <input type="checkbox" class="completed" id="subcat2.2.3" />
                        <label for="subcat2.2.3">Did you try not to leave any warnings?</label>
                    </li>
                </ul>
            </ul>
            <ul class="category">
                <li class="button" onclick="toggleSubcategories('subcategories2.3')">2.3: Write custom CSS code that
                    passes
                    through the official W3C
                    validator with no issues.</li>
                <ul class="subcategories" id="subcategories2.3">
                    <li>
                        <input type="checkbox" class="completed" id="subcat2.3.1" />
                        <label for="subcat2.3.1"><a href="https://validator.w3.org/" target="_blank">W3 CSS
                                Validator</a></label>
                    </li>
                    <li>
                        <input type="checkbox" class="completed" id="subcat2.3.2" />
                        <label for="subcat2.3.2">Have you cleared all errors?</label>
                    </li>
                    <li>
                        <input type="checkbox" class="completed" id="subcat2.3.3" />
                        <label for="subcat2.3.3">Did you try not to leave any warnings?</label>
                    </li>
                </ul>
            </ul>
            <ul class="category">
                <li class="button" onclick="toggleSubcategories('subcategories2.4')">2.4: Incorporate images that are of
                    sufficient resolution to not appear
                    pixelated or stretched</li>
                <ul class="subcategories" id="subcategories2.4">
                    <li>
                        <input type="checkbox" class="completed" id="subcat2.4.1" />
                        <label for="subcat2.4.1">Did you ensure that images are of excellent quality?</label>
                    </li>
                    <li>
                        <input type="checkbox" class="completed" id="subcat2.4.2" />
                        <label for="subcat2.4.2">Did you use CSS to ensure responsiveness for the images?</label>
                    </li>
                </ul>
            </ul>
            <ul class="category">
                <li class="button" onclick="toggleSubcategories('subcategories2.5')">2.5: Code all external links to
                    open in
                    a
                    separate tab when clicked</li>
                <ul class="subcategories" id="subcategories2.5">
                    <li>
                        <input type="checkbox" class="completed" id="subcat2.5.1" />
                        <label for="subcat2.5.1">Have you coded all external links to open in a separate tab when
                            clicked?</label>
                    </li>
                    <li>
                        <input type="checkbox" class="completed" id="subcat2.5.2" />
                        <label for="subcat2.5.2">Did you ensure that when users click on external links, they open in a
                            separate
                            tab?</label>
                    </li>
                </ul>
            </ul>
            <ul class="category">
                <li class="button" onclick="toggleSubcategories('subcategories2.6')">2.6: Use CSS media queries across
                    the
                    application to ensure the
                    layout changes appropriately and maintains the page's
                    structural integrity across device screen sizes.</li>
                <ul class="subcategories" id="subcategories2.6">
                    <li>
                        <input type="checkbox" class="completed" id="subcat2.6.1" />
                        <label for="subcat2.6.1">When testing the responsiveness of your site, have you checked how it
                            displays
                            on all screen sizes?</label>
                    </li>
                    <li>
                        <input type="checkbox" class="completed" id="subcat2.6.2" />
                        <label for="subcat2.6.2">Did you utilize DevTools to examine how your site appears across
                            various
                            devices during responsiveness testing?</label>
                    </li>
                </ul>
            </ul>
            <ul class="category">
                <li class="button" onclick="toggleSubcategories('subcategories2.7')">2.7: Use Semantic markup to
                    structure
                    HTML code</li>
                <ul class="subcategories" id="subcategories2.7">
                    <li>
                        <input type="checkbox" class="completed" id="subcat2.7.1" />
                        <label for="subcat2.7.1">Have you used Semantic markup to structure the HTML code of your
                            website?</label>
                    </li>
                    <li>
                        <input type="checkbox" class="completed" id="subcat2.7.2" />
                        <label for="subcat2.7.2">Did you ensure that Semantic markup was utilized for structuring the
                            HTML
                            code?</label>
                    </li>
                </ul>
            </ul>
            <ul class="category">
                <li class="button" onclick="toggleSubcategories('subcategories2.8')">2.8: Present the finished website
                    with
                    clearly understandable
                    site-specific content, rather than Lorem Ipsum placeholder text.</li>
                <ul class="subcategories" id="subcategories2.8">
                    <li>
                        <input type="checkbox" class="completed" id="subcat2.8.1" />
                        <label for="subcat2.8.1">Have you made sure that all content, even if fictional, appears
                            polished
                            and
                            finished on the site?</label>
                    </li>
                    <li>
                        <input type="checkbox" class="completed" id="subcat2.8.2" />
                        <label for="subcat2.8.2">Did you refrain from using Lorem Ipsum and opt for relevant content
                            that
                            aligns
                            with the project's purpose?</label>
                    </li>
                    <li>
                        <input type="checkbox" class="completed" id="subcat2.8.3" />
                        <label for="subcat2.8.3">Have you ensured that all included content on the site is relevant to
                            the
                            project's purpose to the best of your ability?</label>
                    </li>
                </ul>
            </ul>
            <ul class="category">
                <li class="button" onclick="toggleSubcategories('subcategories2.9')">2.9: Implement clear navigation to
                    allow
                    users to find resources
                    on the site intuitively.</li>
                <ul class="subcategories" id="subcategories2.9">
                    <li>
                        <input type="checkbox" class="completed" id="subcat2.9.1" />
                        <label for="subcat2.9.1"><a
                                href="https://www.optimizesmart.com/website-navigation-best-practices/"
                                target="_blank">Useful Resources</a></label>
                    </li>
                    <li>
                        <input type="checkbox" class="completed" id="subcat2.9.2" />
                        <label for="subcat2.9.2">Have you implemented clear navigation on the site to ensure that users
                            can
                            intuitively find resources?</label>
                    </li>
                    <li>
                        <input type="checkbox" class="completed" id="subcat2.9.3" />
                        <label for="subcat2.9.3">Did you ensure that the navigation system implemented allows users to
                            easily
                            locate resources on the site?</label>
                    </li>
                </ul>
            </ul>
        </section>

        <section class="level-3-section">
            <h2>Level 03: Deploy a Front-End web application to a Cloud platform</h2>
            <ul class="category">
                <li class="button" onclick="toggleSubcategories('subcategories3.1')">3.1: Deploy a final version of the
                    code
                    to a cloud-based hosting
                    platform (e.g. GitHub Pages) and test to ensure it matches the
                    development version:</li>
                <ul class="subcategories" id="subcategories3.1">
                    <li>
                        <input type="checkbox" class="completed" id="subcat3.1.1" />
                        <label for="subcat3.1.1">Have you deployed the final version of your code to a cloud-based
                            hosting
                            platform, such as GitHub Pages?
                        </label>
                    </li>
                    <li>
                        <input type="checkbox" class="completed" id="subcat3.1.2" />
                        <label for="subcat3.1.2">Did you thoroughly test the deployed version to ensure it matches the
                            development version?</label>
                    </li>
                </ul>
            </ul>
            <ul class="category">
                <li class="button" onclick="toggleSubcategories('subcategories3.2')">3.2: Use Git & GitHub for version
                    control of an interactive web
                    application up to deployment.</li>
                <ul class="subcategories" id="subcategories3.2">
                    <li>
                        <input type="checkbox" class="completed" id="subcat3.2.2" />
                        <label for="subcat3.2.2">Have you utilized Git and GitHub for version control of the interactive
                            web
                            application up to deployment?</label>
                    </li>
                    <li>
                        <input type="checkbox" class="completed" id="subcat3.2.3" />
                        <label for="subcat3.2.3">Did you ensure that Git and GitHub were used effectively for managing
                            versions of the interactive web application, including deployment?</label>
                    </li>
                </ul>
            </ul>
            <ul class="category">
                <li class="button" onclick="toggleSubcategories('subcategories3.3')">3.3: Remove commented-out code
                    before
                    pushing final
                    changes to version control and deploying:</li>
                <ul class="subcategories" id="subcategories3.3">
                    <li>
                        <input type="checkbox" class="completed" id="subcat3.3.2" />
                        <label for="subcat3.3.2">Have you removed all commented-out code before pushing your final
                            changes
                            to version control and deploying?</label>
                    </li>
                    <li>
                        <input type="checkbox" class="completed" id="subcat3.3.3" />
                        <label for="subcat3.3.3">Did you ensure that no commented-out code remains in the project before
                            pushing the final changes to version control and deploying?</label>
                    </li>
                </ul>
            </ul>
            <ul class="category">
                <li class="button" onclick="toggleSubcategories('subcategories3.4')">3.4: Ensure that there are no
                    broken
                    internal links.</li>
                <ul class="subcategories" id="subcategories3.4">
                    <li>
                        <input type="checkbox" class="completed" id="subcat3.4.1" />
                        <label for="subcat3.4.1">Have you thoroughly checked for any broken internal links within the
                            project?</label>
                    </li>
                    <li>
                        <input type="checkbox" class="completed" id="subcat3.4.2" />
                        <label for="subcat3.4.2">Did you verify that all internal links are functioning correctly and
                            there
                            are no broken ones within the project?</label>
                    </li>
                </ul>
            </ul>
            <ul class="category">
                <li class="button" onclick="toggleSubcategories('subcategories3.5')">3.5: Insert screenshots of the
                    finished
                    project in the README/li>
                    <ul class="subcategories" id="subcategories3.5">
                        <li>
                            <input type="checkbox" class="completed" id="subcat3.5.1" />
                            <label for="subcat3.5.1">Have you inserted screenshots of the finished project within the
                                README
                                file?</label>
                        </li>
                        <li>
                            <input type="checkbox" class="completed" id="subcat3.5.2" />
                            <label for="subcat3.5.2">Did you ensure that the README includes screenshots depicting the
                                final
                                appearance and functionality of the project?</label>
                        </li>
                    </ul>
            </ul>
        </section>

        <section class="level-4-section">
            <h2>Level 04: Maximise future maintainability through documentation, code
                structure and organisation</h2>
            <ul class="category">
                <li class="button" onclick="toggleSubcategories('subcategories4.1')">4.1: Write a README.md file for the
                    web
                    application that
                    explains its purpose, the value that it provides to its users,
                    and the deployment procedure.</li>
                <ul class="subcategories" id="subcategories4.1">
                    <li>
                        <input type="checkbox" class="completed" id="subcat4.1.1" />
                        <label for="subcat4.1.1">Have you composed a README.md file for the web application, detailing
                            its
                            purpose and the value it offers to users?</label>
                    </li>
                    <li>
                        <input type="checkbox" class="completed" id="subcat4.1.2" />
                        <label for="subcat4.1.2">Does the README.md file include a comprehensive deployment procedure,
                            outlining each step required to deploy the application successfully?</label>
                    </li>
                    <li>
                        <input type="checkbox" class="completed" id="subcat4.1.3" />
                        <label for="subcat4.1.3">Did you revise the deployment procedure in the README to ensure it
                            aligns
                            with the steps outlined in the walkthrough?</label>
                    </li>
                </ul>
            </ul>
            <ul class="category">
                <li class="button" onclick="toggleSubcategories('subcategories4.2')">4.2: Insert screenshots of the
                    project
                    features, give a brief
                    description of what each feature does and explain its value
                    to the user.</li>
                <ul class="subcategories" id="subcategories4.2">
                    <li>
                        <input type="checkbox" class="completed" id="subcat4.2.1" />
                        <label for="subcat4.2.1">Have you captured screenshots of all the project features?</label>
                    </li>
                    <li>
                        <input type="checkbox" class="completed" id="subcat4.2.2" />
                        <label for="subcat4.2.2">Is there a brief description accompanying each screenshot, explaining
                            what
                            the feature does?</label>
                    </li>
                    <li>
                        <input type="checkbox" class="completed" id="subcat4.2.3" />
                        <label for="subcat4.2.3">Did you provide an explanation of the value each feature offers to the
                            user
                            in the README file?</label>
                    </li>
                </ul>
            </ul>
            <ul class="category">
                <li class="button" onclick="toggleSubcategories('subcategories4.3')">4.3: Attribute all code from
                    external
                    sources to its original source
                    via comments above the code and (for larger dependencies) in
                    the README.</li>
                <ul class="subcategories" id="subcategories4.3">
                    <li>
                        <input type="checkbox" class="completed" id="subcat4.3.1" />
                        <label for="subcat4.3.1">Have you attributed all code from external sources with comments above
                            the
                            code?</label>
                    </li>
                    <li>
                        <input type="checkbox" class="completed" id="subcat4.3.2" />
                        <label for="subcat4.3.2">For larger dependencies, have you documented their original sources in
                            the
                            README file?</label>
                    </li>
                    <li>
                        <input type="checkbox" class="completed" id="subcat4.3.3" />
                        <label for="subcat4.3.3">Are you transparent about any resources used in your project, including
                            research purposes?</label>
                    </li>
                </ul>
            </ul>
            <ul class="category">
                <li class="button" onclick="toggleSubcategories('subcategories4.4')">4.4: Clearly separate and identify
                    code
                    written for the website and
                    code from external sources (e.g. libraries or tutorials).</li>
                <ul class="subcategories" id="subcategories4.4">
                    <li>
                        <input type="checkbox" class="completed" id="subcat4.4.1" />
                        <label for="subcat4.4.1">Have you clearly separated and identified the code written for the
                            website
                            from code borrowed from external sources?</label>
                    </li>
                    <li>
                        <input type="checkbox" class="completed" id="subcat4.4.2" />
                        <label for="subcat4.4.2">Are you transparent about each piece of borrowed code by utilizing
                            comments?</label>
                    </li>
                    <li>
                        <input type="checkbox" class="completed" id="subcat4.4.3" />
                        <label for="subcat4.4.3">Have you included the source of external code in the "Reference"
                            section of
                            the README?</label>
                    </li>
                </ul>
            </ul>
            <ul class="category">
                <li class="button" onclick="toggleSubcategories('subcategories4.5')">4.5: Organise HTML and CSS code
                    into
                    well-defined and commented
                    sections.</li>
                <ul class="subcategories" id="subcategories4.5">
                    <li>
                        <input type="checkbox" class="completed" id="subcat4.5.1" />
                        <label for="subcat4.5.1">Have you organized the HTML and CSS code into well-defined
                            sections?</label>
                    </li>
                    <li>
                        <input type="checkbox" class="completed" id="subcat4.5.2" />
                        <label for="subcat4.5.2">Did you use comments to describe features or any other relevant
                            information
                            in your code?</label>
                    </li>
                    <li>
                        <input type="checkbox" class="completed" id="subcat4.5.3" />
                        <label for="subcat4.5.3">Is your code properly organized for readability and
                            maintenance?</label>
                    </li>
                </ul>
            </ul>
            <ul class="category">
                <li class="button" onclick="toggleSubcategories('subcategories4.6')">4.6: Place CSS code in external
                    files
                    linked to the HTML page in the
                    HEAD element.</li>
                <ul class="subcategories" id="subcategories4.6">
                    <li>
                        <input type="checkbox" class="completed" id="subcat4.6.1" />
                        <label for="subcat4.6.1">Have you placed all CSS code in external files?</label>
                    </li>
                    <li>
                        <input type="checkbox" class="completed" id="subcat4.6.2" />
                        <label for="subcat4.6.2">Are these external CSS files properly linked to the HTML page in the
                            HEAD
                            element and functioning as intended?</label>
                    </li>
                </ul>
            </ul>
            <ul class="category">
                <li class="button" onclick="toggleSubcategories('subcategories7')">4.7: Write code that meets at least
                    minimum standards for
                    readability (consistent indentation, blank lines only appear
                    individually or, at most, in pairs)</li>
                <ul class="subcategories" id="subcategories7">
                    <li>
                        <input type="checkbox" class="completed" id="subcat4.7.1" />
                        <label for="subcat4.7.1">Have you utilized Beautifier to ensure consistent indentation and
                            formatting in your code?</label>
                    </li>
                    <li>
                        <input type="checkbox" class="completed" id="subcat4.7.2" />
                        <label for="subcat4.7.2">Are blank lines appearing only individually or, at most, in pairs
                            throughout your code for improved readability?</label>
                    </li>
                </ul>
            </ul>
            <ul class="category">
                <li class="button" onclick="toggleSubcategories('subcategories4.8')">4.8: Name files consistently and
                    descriptively, without spaces or
                    capitalisation to allow for cross-platform compatibility.</li>
                <ul class="subcategories" id="subcategories4.8">
                    <li>
                        <input type="checkbox" class="completed" id="subcat4.8.1" />
                        <label for="subcat4.8.1">Have you named all files consistently and descriptively, avoiding
                            spaces
                            and capitalization to ensure cross-platform compatibility?</label>
                    </li>
                    <li>
                        <input type="checkbox" class="completed" id="subcat4.8.2" />
                        <label for="subcat4.8.2">Are your file names following a uniform naming convention for better
                            organization and clarity?</label>
                    </li>
                </ul>
            </ul>
            <ul class="category">
                <li class="button" onclick="toggleSubcategories('subcategories4.9')">4.9: Group files in directories by
                    file
                    type (e.g. an assets directory
                    will contain all static files and may be organised into
                    sub-directories such as CSS, images, etc.)</li>
                <ul class="subcategories" id="subcategories4.9">
                    <li>
                        <input type="checkbox" class="completed" id="subcat4.9.1" />
                        <label for="subcat4.9.1">Have you sorted all files by file type and organized them into relevant
                            folders?</label>
                    </li>
                    <li>
                        <input type="checkbox" class="completed" id="subcat4.9.2" />
                        <label for="subcat4.9.2">Is the directory structure kept simple and easy to navigate for better
                            organization?</label>
                    </li>
                    <li>
                        <input type="checkbox" class="completed" id="subcat4.8.3" />
                        <label for="subcat4.8.3">Have you ensured that all included content on the site is relevant to
                            the
                            project's purpose to the best of your ability?</label>
                    </li>
                </ul>
            </ul>
        </section>

        <section class="level-5-section">
            <h2>Level 05: Demonstrate and document the development process through a
                version control system such as GitHub</h2>
            <ul class="category">
                <li class="button" onclick="toggleSubcategories('subcategories5.1')">5.1: Use consistent and effective
                    markdown formatting to produce a
                    README file that is well-structured, easy to follow, and has few
                    grammatical errors.</li>
                <ul class="subcategories" id="subcategories5.1">
                    <li>
                        <input type="checkbox" class="completed" id="subcat5.1.1" />
                        <label for="subcat5.1.1"><a
                                href="https://github.com/tchapi/markdown-cheatsheet/blob/master/README.md"
                                target="_blank">Useful
                                resources</a></label>
                    </li>
                    <li>
                        <input type="checkbox" class="completed" id="subcat5.1.2" />
                        <label for="subcat5.1.2">Have you used consistent and effective markdown formatting throughout
                            the
                            README file?</label>
                    </li>
                    <li>
                        <input type="checkbox" class="completed" id="subcat5.1.3" />
                        <label for="subcat5.1.3">Is the README file well-structured, easy to follow, and free from
                            grammatical errors?</label>
                    </li>
                    <li>
                        <input type="checkbox" class="completed" id="subcat5.1.4" />
                        <label for="subcat5.1.4">Have you ensured that the README file has a clear and logical flow of
                            information?</label>
                    </li>
                    <li>
                        <input type="checkbox" class="completed" id="subcat5.1.5" />
                        <label for="subcat5.1.5">Are all sections of the README file appropriately labeled and
                            organized?</label>
                    </li>
                </ul>
            </ul>
        </section>

        <section class="level-6-section">
            <h2>Level 06: Use an Agile methodology to plan and design a Front End Web
                application</h2>
            <ul class="category">
                <li class="button" onclick="toggleSubcategories('subcategories6.1')">6.1: Use an Agile tool to manage
                    the
                    planning and implementation
                    of all significant functionality.</li>
                <ul class="subcategories" id="subcategories6.1">
                    <li>
                        <input type="checkbox" class="completed" id="subcat6.1.1" />
                        <label for="subcat6.1.1">Have you utilized an Agile tool to manage the planning and
                            implementation
                            of all significant functionality?</label>
                    </li>
                    <li>
                        <input type="checkbox" class="completed" id="subcat6.1.2" />
                        <label for="subcat6.1.2">Is the Agile tool being effectively used to track progress, assign
                            tasks,
                            and manage the development process?</label>
                    </li>
                    <li>
                        <input type="checkbox" class="completed" id="subcat6.1.3" />
                        <label for="subcat6.1.3">Are all team members actively engaged with the Agile tool, providing
                            updates and feedback as necessary?</label>
                    </li>
                    <li>
                        <input type="checkbox" class="completed" id="subcat6.1.4" />
                        <label for="subcat6.1.4">Have you organized tasks into sprints or iterations within the Agile
                            tool
                            to facilitate iterative development?</label>
                    </li>
                    <li>
                        <input type="checkbox" class="completed" id="subcat6.1.5" />
                        <label for="subcat6.1.5">Are user stories, tasks, and acceptance criteria clearly defined and
                            documented within the Agile tool?</label>
                    </li>
                </ul>
            </ul>
            <ul class="category">
                <li class="button" onclick="toggleSubcategories('subcategories6.2')">6.2: Document and implement all
                    User
                    Stories and map them to the
                    project within an Agile tool.</li>
                <ul class="subcategories" id="subcategories6.2">
                    <li>
                        <input type="checkbox" class="completed" id="subcat6.2.1" />
                        <label for="subcat6.2.1">Have all User Stories been thoroughly documented, including their
                            acceptance criteria and any dependencies?</label>
                    </li>
                    <li>
                        <input type="checkbox" class="completed" id="subcat6.2.2" />
                        <label for="subcat6.2.2">Are User Stories effectively mapped to the project within the chosen
                            Agile
                            tool, ensuring clear visibility and tracking?</label>
                    </li>
                    <li>
                        <input type="checkbox" class="completed" id="subcat6.2.3" />
                        <label for="subcat6.2.3">Have User Stories been prioritized based on their importance and value
                            to
                            the project?</label>
                    </li>
                    <li>
                        <input type="checkbox" class="completed" id="subcat6.2.4" />
                        <label for="subcat6.2.4">Are User Stories regularly reviewed and updated as needed throughout
                            the
                            development process?</label>
                    </li>
                    <li>
                        <input type="checkbox" class="completed" id="subcat6.2.5" />
                        <label for="subcat6.2.5">Are User Stories broken down into manageable tasks and assigned to team
                            members within the Agile tool?</label>
                    </li>
                </ul>
            </ul>
        </section>
    </div>
    <script>
        function toggleSubcategories(id) {
            var subcategories = document.getElementById(id);
            subcategories.style.display = (subcategories.style.display === 'none' || subcategories.style.display ===
                '') ? 'block' : 'none';
        }
    </script>
</body>

</html>